.pointer {
    cursor: pointer;
}

.game-grid-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.game-grid-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.game-grid {
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: initial;
    justify-self: center;
}

.grid-tile {
    box-sizing: border-box;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-left: 1px solid #fafafa;
    border-top: 1px solid #fafafa;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.grid-tile.traversed {
    border: none;
}

.color-picker-button {
    padding: .6rem 1rem;
    justify-self: center;
    border-radius: 100px;
    color: #fff;
    font-size: 1rem;

    width: 12vmin;
    height: 12vmin;

    border: 8px double #fafafa;
}

.color-picker-button:disabled {
    border-style: solid;
}

.color-picker-button:focus {
    border-radius: 200px;
}

.color-picker-button.next-move {


    -webkit-animation: blink .5s step-end infinite alternate;
}

.color1 {
    background-color: #ec0101;
}

.color2 {
    background-color: #61b15a;
}

.color3 {
    background-color: #153e90;
}

.color4 {
    background-color: #ffcd3c;
}

.color5 {
    background-color: #ff9234;
}

.color6 {
    background-color: #43dde6;
}

.color7 {
    background-color: #ea86b6;
}

.color8 {
    background-color: #802BB1;
}


.flex-1 {
    flex: 1;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (min-aspect-ratio: 8/5) {
    .main-game-board .game-grid-container {
        width: min(100%, 65vmin);
        padding-bottom: min(100%, 65vmin);
    }
}
